h1 {
  text-align: center;
  color: cornflowerblue;
}
#bread-spread {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#toilet {
  width: 50%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
}
.myPic {
  width: auto;
  height: 40%;
  margin: auto;
  display: block;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}
body {
  background-color: cornflowerblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  border-style: groove;
  border-color: black;
}
